.button{
    -fx-pref-height: 70px;
    -fx-pref-width: 70px;
}
.display{
    -fx-pref-height: 70px;
    -fx-pref-width: 300px;
}
.change-button{
    -fx-pref-width: 250px;
    -fx-pref-height: 30px;
}